In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
data_dir = os.getcwd() + "/data"
print(data_dir)

# df = pd.DataFrame()

df = pd.read_excel(data_dir + "/gapminder_full.xlsx")
df  # reads sheet1 by default

/home/vik/Documents/pgdm/sem2/finance-py/data

     index      country  year  population  life exp     gdp_cap
0     1001  Afghanistan  1952   8425333.0    28.801  779.445314
1     1002  Afghanistan  1957   9240934.0       NaN  820.853030
2     1003  Afghanistan  1962  10267083.0    31.997  853.100710
3     1004  Afghanistan  1967  11537966.0    34.020  836.197138
4     1005  Afghanistan  1972  13079460.0    36.088  739.981106
..     ...          ...   ...         ...       ...         ...
558   1559       Gambia  1982    715523.0    45.580  835.809611
559   1560       Gambia  1987    848406.0    49.265  611.658861
560   1561       Gambia  1992   1025384.0    52.644  665.624413
561   1562       Gambia  1997   1235767.0    55.861  653.730170
562   1563       Gambia  2002   1457766.0    58.041         NaN

[563 rows x 6 columns]

`os.chdir("/home/vik/Documents/code-py/")` -> Used to change directory, if you want to access a file in a different directory.

In [3]:
sheet1 = pd.read_excel(data_dir + "/gapminder_full.xlsx", sheet_name="data1")

# Find signature
# ?pd.read_excel
sheet1

     index      country  year  population  life exp     gdp_cap
0     1001  Afghanistan  1952   8425333.0    28.801  779.445314
1     1002  Afghanistan  1957   9240934.0       NaN  820.853030
2     1003  Afghanistan  1962  10267083.0    31.997  853.100710
3     1004  Afghanistan  1967  11537966.0    34.020  836.197138
4     1005  Afghanistan  1972  13079460.0    36.088  739.981106
..     ...          ...   ...         ...       ...         ...
558   1559       Gambia  1982    715523.0    45.580  835.809611
559   1560       Gambia  1987    848406.0    49.265  611.658861
560   1561       Gambia  1992   1025384.0    52.644  665.624413
561   1562       Gambia  1997   1235767.0    55.861  653.730170
562   1563       Gambia  2002   1457766.0    58.041         NaN

[563 rows x 6 columns]

In [4]:
mapping_df = pd.read_csv(data_dir + "/mapping.csv")
mapping_df

           country:continent
0           Afghanistan:Asia
1             Albania:Europe
2             Algeria:Africa
3              Angola:Africa
4         Argentina:Americas
..                       ...
137             Vietnam:Asia
138  West Bank and Gaza:Asia
139         Yemen, Rep.:Asia
140            Zambia:Africa
141          Zimbabwe:Africa

[142 rows x 1 columns]

In [5]:
df.head() # default arg: n=5

   index      country  year  population  life exp     gdp_cap
0   1001  Afghanistan  1952   8425333.0    28.801  779.445314
1   1002  Afghanistan  1957   9240934.0       NaN  820.853030
2   1003  Afghanistan  1962  10267083.0    31.997  853.100710
3   1004  Afghanistan  1967  11537966.0    34.020  836.197138
4   1005  Afghanistan  1972  13079460.0    36.088  739.981106

In [6]:
sheet1_des = sheet1.describe()

In [7]:
sheet1.columns

Index(['index', 'country', 'year', 'population', 'life exp', 'gdp_cap'], dtype='object')

In [8]:
sheet1.index

RangeIndex(start=0, stop=563, step=1)

In [9]:
sheet1.count()

index         563
country       563
year          563
population    554
life exp      560
gdp_cap       561
dtype: int64

In [10]:
len(sheet1)

563

In [11]:
# sheet1.set_index("index", inplace=True)

In [12]:
sheet1.head()

   index      country  year  population  life exp     gdp_cap
0   1001  Afghanistan  1952   8425333.0    28.801  779.445314
1   1002  Afghanistan  1957   9240934.0       NaN  820.853030
2   1003  Afghanistan  1962  10267083.0    31.997  853.100710
3   1004  Afghanistan  1967  11537966.0    34.020  836.197138
4   1005  Afghanistan  1972  13079460.0    36.088  739.981106

In [13]:
sheet1 = pd.read_excel(data_dir + "/gapminder_full.xlsx", sheet_name=0, index_col=0)
# This method is more clear.
sheet2 = pd.read_excel(data_dir + "/gapminder_full.xlsx", sheet_name="data2", index_col="index")
sheet2.head()

       country  year  population  life exp       gdp_cap
index
1564    Gambia  2007         NaN       NaN    752.749726
1565   Germany  1952  69145952.0      67.5   7144.114393
1566   Germany  1957  71019069.0      69.1  10187.826650
1567   Germany  1962  73739117.0      70.3  12902.462910
1568   Germany  1967  76368453.0      70.8  14745.625610

In [14]:
pd.read_csv("./data/mapping.csv")

           country:continent
0           Afghanistan:Asia
1             Albania:Europe
2             Algeria:Africa
3              Angola:Africa
4         Argentina:Americas
..                       ...
137             Vietnam:Asia
138  West Bank and Gaza:Asia
139         Yemen, Rep.:Asia
140            Zambia:Africa
141          Zimbabwe:Africa

[142 rows x 1 columns]

In [15]:
sheet1["population"]

index
1001     8425333.0
1002     9240934.0
1003    10267083.0
1004    11537966.0
1005    13079460.0
           ...
1559      715523.0
1560      848406.0
1561     1025384.0
1562     1235767.0
1563     1457766.0
Name: population, Length: 563, dtype: float64

In [16]:
sheet1.columns

Index(['country', 'year', 'population', 'life exp', 'gdp_cap'], dtype='object')

In [17]:
year_gdp = sheet1[["year", "gdp_cap"]]

In [18]:
# year_gdp.to_clipboard()

In [19]:
# sheet1.set_index("index", inplace=True)

In [20]:
sheet1.loc[1005, "country"]

'Afghanistan'

We can specify multiple indeices we want, as well as the specific column names by using lists instead.

In [21]:
sheet1.loc[[1005, 1045], ["country", "life exp", "gdp_cap"]]

           country  life exp      gdp_cap
index
1005   Afghanistan    36.088   739.981106
1045        Angola    40.647  2627.845685

Using a colon instead gets us the entire range of values specified.

In [22]:
sheet1.loc[1005:1010, "country":"gdp_cap"]

           country  year  population  life exp     gdp_cap
index
1005   Afghanistan  1972  13079460.0    36.088  739.981106
1006   Afghanistan  1977  14880372.0    38.438  786.113360
1007   Afghanistan  1982         NaN    39.854  978.011439
1008   Afghanistan  1987  13867957.0    40.822  852.395945
1009   Afghanistan  1992  16317921.0    41.674  649.341395
1010   Afghanistan  1997  22227415.0    41.763  635.341351

In [23]:
sheet1.loc[(sheet1["gdp_cap"] > 30000) & (sheet1["country"] == "Australia")]
# sheet1.info()

         country  year  population  life exp      gdp_cap
index
1071   Australia  2002  19546792.0    80.370  30687.75473
1072   Australia  2007  20434176.0    81.235  34435.36744

Let's say we want to skip population column.

In [24]:
# sheet1.columns != "population"  # [True, True, False, True, True]

sheet1.loc[1500:1505, sheet1.columns != "population"]

        country  year  life exp     gdp_cap
index
1500    Eritrea  1987    46.453  521.134133
1501    Eritrea  1992    49.991  582.858510
1502    Eritrea  1997    53.378  913.470790
1503    Eritrea  2002    55.240  765.350001
1504    Eritrea  2007    58.040  641.369524
1505   Ethiopia  1952    34.078  362.146280

In [25]:
sheet1.loc[1100:1105, ~ sheet1.columns.isin(["population", "year"])]

          country  life exp     gdp_cap
index
1100   Bangladesh    43.453  721.186086
1101   Bangladesh    45.252  630.233627
1102   Bangladesh    46.923  659.877232
1103   Bangladesh    50.009  676.981866
1104   Bangladesh    52.819  751.979403
1105   Bangladesh    56.018  837.810164

In [26]:
combined = sheet1.append(sheet2)
# combined

`axis=0` stack (concat) data with similar columns, it can add new columns

`axis=1` stack (concat) data with similar rows, it can add new rows

In [27]:
new_combined = pd.concat([sheet1, sheet2], axis=0)
new_combined.head()

           country  year  population  life exp     gdp_cap
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314
1002   Afghanistan  1957   9240934.0       NaN  820.853030
1003   Afghanistan  1962  10267083.0    31.997  853.100710
1004   Afghanistan  1967  11537966.0    34.020  836.197138
1005   Afghanistan  1972  13079460.0    36.088  739.981106

In [28]:
# new_combined.reset_index() # reset index
new_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1704 entries, 1001 to 2704
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1669 non-null   float64
 3   life exp    1687 non-null   float64
 4   gdp_cap     1699 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 79.9+ KB

Format = `lambda input : output`

In [29]:
muli_add = lambda x, y, z: x * y + z
print(muli_add(5, 8, 2))

(lambda x: x**2)(5)

42

25

In [30]:
l_func = lambda y, fun1, fun2: y + fun1(y) + fun2(y)
l_func(3, lambda x: x**4, lambda x: x**2)

93

In [31]:
test_arr = [12, 13, 14]
list(map(lambda x: x**2, test_arr))

country_test = ["India:Asia", "Japan:Asia", "Germany:Europe"]
list(map(lambda val: val.split(":")[0], country_test))

['India', 'Japan', 'Germany']

In [32]:
test_num_arr = [1, -5, 6, -10]
list(filter(lambda x: x > 0, test_num_arr))

[1, 6]

In [46]:
# mapping_df["country"] = mapping_df.iloc[:, 0].map(lambda val: val.split(":")[0])
# mapping_df["continent"] = mapping_df.iloc[:, 1].map(lambda val: val.split(":")[1])

# Two ways to delete columns
# del mapping_df["country:continent"]
# mapping_df.drop(mapping_df.columns[0], inplace=True)
mapping_df.head()
# mapping_df.columns

       country continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3       Angola    Africa
4    Argentina  Americas

In [74]:
merged_df = pd.merge(new_combined, mapping_df, on="country", how="left")
# print(new_combined)
# print(merged_df)
# OR
# merged_df = new_combined.merge(mapping_df, on="country", how="left")

merged_df = merged_df.set_index(new_combined.index)

In [75]:
# merged_df.info()
merged_df.head()

           country  year  population  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia

In [76]:
merged_df["continent"].unique()
# Series bool
asia = merged_df["continent"] == "Asia"
asian_countries = merged_df[asia]
asian_countries

merged_df[merged_df["year"] == 2002]

merged_df[merged_df["year"] == merged_df["year"].max()] # 2007
merged_df[merged_df["year"] == merged_df["year"].min()] # 1952

                  country  year  population  life exp      gdp_cap continent
index
1001          Afghanistan  1952   8425333.0    28.801   779.445314      Asia
1013              Albania  1952   1282697.0    55.230  1601.056136    Europe
1025              Algeria  1952   9279525.0    43.077  2449.008185    Africa
1037               Angola  1952   4232095.0    30.015  3520.610273    Africa
1049            Argentina  1952  17876956.0    62.485  5911.315053  Americas
...                   ...   ...         ...       ...          ...       ...
2645              Vietnam  1952  26246839.0    40.412   605.066492      Asia
2657   West Bank and Gaza  1952   1030585.0    43.160  1515.592329      Asia
2669          Yemen, Rep.  1952   4963829.0    32.548   781.717576      Asia
2681               Zambia  1952   2672000.0    42.038  1147.388831    Africa
2693             Zimbabwe  1952   3080907.0    48.451   406.884115    Africa

[142 rows x 6 columns]

## Use parenthesis while using two or more conditionals.

In [96]:
merged_df[(merged_df["continent"] == "Asia") | (merged_df["continent"] == "Africe")]
# Same as the above
# merged_df[merged_df["continent"].isin(["Asia", "Africa"])]

           country  year  population  life exp      gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801   779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN   820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997   853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020   836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088   739.981106      Asia
...            ...   ...         ...       ...          ...       ...
2676   Yemen, Rep.  1987  11219340.0    52.922  1971.741538      Asia
2677   Yemen, Rep.  1992  13367997.0    55.599  1879.496673      Asia
2678   Yemen, Rep.  1997  15826497.0    58.020  2117.484526      Asia
2679   Yemen, Rep.  2002  18701257.0    60.308  2234.820827      Asia
2680   Yemen, Rep.  2007  22211743.0    62.698  2280.769906      Asia

[396 rows x 6 columns]

In [102]:
merged_df[(merged_df["continent"] == "Europe") & (merged_df["year"] == merged_df["year"].max())]

,country,year,population,life exp,gdp_cap,continent
index,,,,,,
1024,Albania,2007,3600523.0,76.423,5937.029526,Europe
1084,Austria,2007,8199783.0,79.829,36126.492700,Europe
1120,Belgium,2007,10392226.0,79.441,33692.605080,Europe
1156,Bosnia and Herzegovina,2007,4552198.0,74.852,7446.298803,Europe
1192,Bulgaria,2007,7322858.0,73.005,10680.792820,Europe
1384,Croatia,2007,4493312.0,75.748,14619.222720,Europe
1408,Czech Republic,2007,10228744.0,76.486,22833.308510,Europe
1420,Denmark,2007,5468120.0,78.332,35278.418740,Europe
1528,Finland,2007,5238460.0,79.313,33207.084400,Europe
1540,France,2007,61083916.0,80.657,30470.016700,Europe
1576,Germany,2007,82400996.0,79.406,32170.374420,Europe
1600,Greece,2007,10706290.0,79.483,27538.411880,Europe
1684,Hungary,2007,9956108.0,73.338,18008.944440,Europe
1696,Iceland,2007,301931.0,81.757,36180.789190,Europe
1756,Ireland,2007,4109086.0,78.885,40675.996350,Europe
1780,Italy,2007,58147733.0,80.546,28569.719700,Europe
2020,Montenegro,2007,684736.0,74.543,9253.896111,Europe
2092,Netherlands,2007,16570613.0,79.762,36797.933320,Europe
2152,Norway,2007,4627926.0,80.196,49357.190170,Europe
2236,Poland,2007,38518241.0,75.563,15389.924680,Europe
2248,Portugal,2007,10642836.0,78.098,20509.647770,Europe
2284,Romania,2007,22276056.0,72.476,10808.475610,Europe
2344,Serbia,2007,10150265.0,74.002,9786.534714,Europe
2380,Slovak Republic,2007,5447502.0,74.663,18678.314350,Europe
2392,Slovenia,2007,2009245.0,77.926,25768.257590,Europe
2428,Spain,2007,40448191.0,80.941,28821.063700,Europe
2476,Sweden,2007,9031088.0,80.884,33859.748350,Europe
2488,Switzerland,2007,7554661.0,81.701,37506.419070,Europe
2584,Turkey,2007,71158647.0,71.777,8458.276384,Europe
2608,United Kingdom,2007,60776238.0,79.425,33203.261280,Europe

In [111]:
# merged_df.sort_values(by=["year"], ascending=False)
merged_df.sort_values(by=["country", "year"], ascending=[True, False], kind="mergesort")

           country  year  population  life exp     gdp_cap continent
index
1012   Afghanistan  2007  31889923.0    43.828  974.580338      Asia
1011   Afghanistan  2002  25268405.0    42.129  726.734055      Asia
1010   Afghanistan  1997  22227415.0    41.763  635.341351      Asia
1009   Afghanistan  1992  16317921.0    41.674  649.341395      Asia
1008   Afghanistan  1987  13867957.0    40.822  852.395945      Asia
...            ...   ...         ...       ...         ...       ...
2697      Zimbabwe  1972   5861135.0    55.635  799.362176    Africa
2696      Zimbabwe  1967   4995432.0    53.995  569.795071    Africa
2695      Zimbabwe  1962   4277736.0    52.358  527.272182    Africa
2694      Zimbabwe  1957   3646340.0    50.469  518.764268    Africa
2693      Zimbabwe  1952   3080907.0    48.451  406.884115    Africa

[1704 rows x 6 columns]

In [115]:
#rename
merged_df = merged_df.rename({"population":"pop"}, axis="columns")
merged_df

           country  year         pop  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia
...            ...   ...         ...       ...         ...       ...
2700      Zimbabwe  1987   9216418.0    62.351  706.157306    Africa
2701      Zimbabwe  1992  10704340.0    60.377  693.420786    Africa
2702      Zimbabwe  1997  11404948.0    46.809  792.449960    Africa
2703      Zimbabwe  2002  11926563.0    39.989  672.038623    Africa
2704      Zimbabwe  2007         NaN    43.487  469.709298    Africa

[1704 rows x 6 columns]

In [124]:
# isNaN = merged_df.isna()
isNaN = merged_df.isna().any()
temp = merged_df.dropna(axis="columns", thresh=len(merged_df)*0.98) # drops pop

           country  year  life exp     gdp_cap continent
index
1001   Afghanistan  1952    28.801  779.445314      Asia
1002   Afghanistan  1957       NaN  820.853030      Asia
1003   Afghanistan  1962    31.997  853.100710      Asia
1004   Afghanistan  1967    34.020  836.197138      Asia
1005   Afghanistan  1972    36.088  739.981106      Asia
...            ...   ...       ...         ...       ...
2700      Zimbabwe  1987    62.351  706.157306    Africa
2701      Zimbabwe  1992    60.377  693.420786    Africa
2702      Zimbabwe  1997    46.809  792.449960    Africa
2703      Zimbabwe  2002    39.989  672.038623    Africa
2704      Zimbabwe  2007    43.487  469.709298    Africa

[1704 rows x 5 columns]

In [126]:
# Drop rows if found NaN in a record.
temp = merged_df.dropna(axis="index")
temp

           country  year         pop  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia
1006   Afghanistan  1977  14880372.0    38.438  786.113360      Asia
...            ...   ...         ...       ...         ...       ...
2699      Zimbabwe  1982   7636524.0    60.363  788.855041    Africa
2700      Zimbabwe  1987   9216418.0    62.351  706.157306    Africa
2701      Zimbabwe  1992  10704340.0    60.377  693.420786    Africa
2702      Zimbabwe  1997  11404948.0    46.809  792.449960    Africa
2703      Zimbabwe  2002  11926563.0    39.989  672.038623    Africa

[1650 rows x 6 columns]

## Perform a deepcopy

In [216]:
df = merged_df.copy()
df

           country  year         pop  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia
...            ...   ...         ...       ...         ...       ...
2700      Zimbabwe  1987   9216418.0    62.351  706.157306    Africa
2701      Zimbabwe  1992  10704340.0    60.377  693.420786    Africa
2702      Zimbabwe  1997  11404948.0    46.809  792.449960    Africa
2703      Zimbabwe  2002  11926563.0    39.989  672.038623    Africa
2704      Zimbabwe  2007         NaN    43.487  469.709298    Africa

[1704 rows x 6 columns]

In [217]:
# df["pop"].fillna(0, inplace=True)
# methods: forward (prev val) and backward (next val)
# df["pop"].fillna(method="ffill", inplace=True)
df.tail()

        country  year         pop  life exp     gdp_cap continent
index
2700   Zimbabwe  1987   9216418.0    62.351  706.157306    Africa
2701   Zimbabwe  1992  10704340.0    60.377  693.420786    Africa
2702   Zimbabwe  1997  11404948.0    46.809  792.449960    Africa
2703   Zimbabwe  2002  11926563.0    39.989  672.038623    Africa
2704   Zimbabwe  2007         NaN    43.487  469.709298    Africa

## Loops 

Generally we don't use loops in data anlytics

In [218]:
for i, row in df.iterrows():
  print(i, row)

1001 country      Afghanistan
year                1952
pop            8425333.0
life exp          28.801
gdp_cap       779.445314
continent           Asia
Name: 1001, dtype: object
1002 country      Afghanistan
year                1957
pop            9240934.0
life exp             NaN
gdp_cap        820.85303
continent           Asia
Name: 1002, dtype: object
1003 country      Afghanistan
year                1962
pop           10267083.0
life exp          31.997
gdp_cap        853.10071
continent           Asia
Name: 1003, dtype: object
1004 country      Afghanistan
year                1967
pop           11537966.0
life exp           34.02
gdp_cap       836.197138
continent           Asia
Name: 1004, dtype: object
1005 country      Afghanistan
year                1972
pop           13079460.0
life exp          36.088
gdp_cap       739.981106
continent           Asia
Name: 1005, dtype: object
1006 country      Afghanistan
year                1977
pop           14880372.0
life exp          38.438
gdp_cap        786.11336
continent           Asia
Name: 1006, dtype: object
1007 country      Afghanistan
year                1982
pop                  NaN
life exp          39.854
gdp_cap       978.011439
continent           Asia
Name: 1007, dtype: object
1008 country      Afghanistan
year                1987
pop           13867957.0
life exp          40.822
gdp_cap       852.395945
continent           Asia
Name: 1008, dtype: object
1009 country      Afghanistan
year                1992
pop           16317921.0
life exp          41.674
gdp_cap       649.341395
continent           Asia
Name: 1009, dtype: object
1010 country      Afghanistan
year                1997
pop           22227415.0
life exp          41.763
gdp_cap       635.341351
continent           Asia
Name: 1010, dtype: object
1011 country      Afghanistan
year                2002
pop           25268405.0
life exp          42.129
gdp_cap       726.734055
continent           Asia
Name: 1011, dtype: object
1012 country      Afghanistan
year                2007
pop           31889923.0
life exp          43.828
gdp_cap       974.580338
continent           Asia
Name: 1012, dtype: object
1013 country          Albania
year                1952
pop            1282697.0
life exp           55.23
gdp_cap      1601.056136
continent         Europe
Name: 1013, dtype: object
1014 country          Albania
year                1957
pop            1476505.0
life exp           59.28
gdp_cap      1942.284244
continent         Europe
Name: 1014, dtype: object
1015 country          Albania
year                1962
pop            1728137.0
life exp           64.82
gdp_cap      2312.888958
continent         Europe
Name: 1015, dtype: object
1016 country          Albania
year                1967
pop            1984060.0
life exp           66.22
gdp_cap      2760.196931
continent         Europe
Name: 1016, dtype: object
1017 country          Albania
year                1972
pop            2263554.0
life exp           67.69
gdp_cap      3313.422188
continent         Europe
Name: 1017, dtype: object
1018 country         Albania
year               1977
pop           2509048.0
life exp          68.93
gdp_cap      3533.00391
continent        Europe
Name: 1018, dtype: object
1019 country          Albania
year                1982
pop            2780097.0
life exp           70.42
gdp_cap      3630.880722
continent         Europe
Name: 1019, dtype: object
1020 country          Albania
year                1987
pop            3075321.0
life exp            72.0
gdp_cap      3738.932735
continent         Europe
Name: 1020, dtype: object
1021 country          Albania
year                1992
pop            3326498.0
life exp          71.581
gdp_cap      2497.437901
continent         Europe
Name: 1021, dtype: object
1022 country          Albania
year                1997
pop            3428038.0
life exp           72.95
gdp_cap      3193.054604
continent         Europe
Name: 1022, dtype: object
1023 country          Albania
year                2002
pop            3508512.0
life exp          75.651
gdp_cap      4604.211737
continent         Europe
Name: 1023, dtype: object
1024 country          Albania
year                2007
pop            3600523.0
life exp          76.423
gdp_cap      5937.029526
continent         Europe
Name: 1024, dtype: object
1025 country          Algeria
year                1952
pop            9279525.0
life exp          43.077
gdp_cap      2449.008185
continent         Africa
Name: 1025, dtype: object
1026 country          Algeria
year                1957
pop           10270856.0
life exp          45.685
gdp_cap      3013.976023
continent         Africa
Name: 1026, dtype: object
1027 country         Algeria
year               1962
pop          11000948.0
life exp         48.303
gdp_cap      2550.81688
continent        Africa
Name: 1027, dtype: object
1028 country          Algeria
year                1967
pop           12760499.0
life exp          51.407
gdp_cap      3246.991771
continent         Africa
Name: 1028, dtype: object
1029 country          Algeria
year                1972
pop           14760787.0
life exp          54.518
gdp_cap      4182.663766
continent         Africa
Name: 1029, dtype: object
1030 country          Algeria
year                1977
pop           17152804.0
life exp          58.014
gdp_cap      4910.416756
continent         Africa
Name: 1030, dtype: object
1031 country          Algeria
year                1982
pop           20033753.0
life exp          61.368
gdp_cap      5745.160213
continent         Africa
Name: 1031, dtype: object
1032 country          Algeria
year                1987
pop           23254956.0
life exp          65.799
gdp_cap      5681.358539
continent         Africa
Name: 1032, dtype: object
1033 country          Algeria
year                1992
pop           26298373.0
life exp          67.744
gdp_cap      5023.216647
continent         Africa
Name: 1033, dtype: object
1034 country          Algeria
year                1997
pop           29072015.0
life exp          69.152
gdp_cap      4797.295051
continent         Africa
Name: 1034, dtype: object
1035 country          Algeria
year                2002
pop           31287142.0
life exp          70.994
gdp_cap      5288.040382
continent         Africa
Name: 1035, dtype: object
1036 country          Algeria
year                2007
pop           33333216.0
life exp          72.301
gdp_cap      6223.367465
continent         Africa
Name: 1036, dtype: object
1037 country           Angola
year                1952
pop            4232095.0
life exp          30.015
gdp_cap      3520.610273
continent         Africa
Name: 1037, dtype: object
1038 country           Angola
year                1957
pop            4561361.0
life exp          31.999
gdp_cap      3827.940465
continent         Africa
Name: 1038, dtype: object
1039 country           Angola
year                1962
pop            4826015.0
life exp            34.0
gdp_cap      4269.276742
continent         Africa
Name: 1039, dtype: object
1040 country           Angola
year                1967
pop            5247469.0
life exp          35.985
gdp_cap      5522.776375
continent         Africa
Name: 1040, dtype: object
1041 country           Angola
year                1972
pop            5894858.0
life exp          37.928
gdp_cap      5473.288005
continent         Africa
Name: 1041, dtype: object
1042 country           Angola
year                1977
pop            6162675.0
life exp          39.483
gdp_cap      3008.647355
continent         Africa
Name: 1042, dtype: object
1043 country           Angola
year                1982
pop            7016384.0
life exp          39.942
gdp_cap      2756.953672
continent         Africa
Name: 1043, dtype: object
1044 country           Angola
year                1987
pop            7874230.0
life exp          39.906
gdp_cap      2430.208311
continent         Africa
Name: 1044, dtype: object
1045 country           Angola
year                1992
pop            8735988.0
life exp          40.647
gdp_cap      2627.845685
continent         Africa
Name: 1045, dtype: object
1046 country           Angola
year                1997
pop            9875024.0
life exp          40.963
gdp_cap      2277.140884
continent         Africa
Name: 1046, dtype: object
1047 country           Angola
year                2002
pop           10866106.0
life exp          41.003
gdp_cap      2773.287312
continent         Africa
Name: 1047, dtype: object
1048 country           Angola
year                2007
pop           12420476.0
life exp          42.731
gdp_cap      4797.231267
continent         Africa
Name: 1048, dtype: object
1049 country        Argentina
year                1952
pop           17876956.0
life exp          62.485
gdp_cap      5911.315053
continent       Americas
Name: 1049, dtype: object
1050 country        Argentina
year                1957
pop           19610538.0
life exp          64.399
gdp_cap      6856.856212
continent       Americas
Name: 1050, dtype: object
1051 country        Argentina
year                1962
pop           21283783.0
life exp          65.142
gdp_cap      7133.166023
continent       Americas
Name: 1051, dtype: object
1052 country        Argentina
year                1967
pop           22934225.0
life exp          65.634
gdp_cap      8052.953021
continent       Americas
Name: 1052, dtype: object
1053 country        Argentina
year                1972
pop           24779799.0
life exp          67.065
gdp_cap      9443.038526
continent       Americas
Name: 1053, dtype: object
1054 country        Argentina
year                1977
pop           26983828.0
life exp          68.481
gdp_cap      10079.02674
continent       Americas
Name: 1054, dtype: object
1055 country        Argentina
year                1982
pop           29341374.0
life exp          69.942
gdp_cap      8997.897412
continent       Americas
Name: 1055, dtype: object
1056 country        Argentina
year                1987
pop           31620918.0
life exp          70.774
gdp_cap      9139.671389
continent       Americas
Name: 1056, dtype: object
1057 country       Argentina
year               1992
pop          33958947.0
life exp         71.868
gdp_cap      9308.41871
continent      Americas
Name: 1057, dtype: object
1058 country        Argentina
year                1997
pop           36203463.0
life exp          73.275
gdp_cap      10967.28195
continent       Americas
Name: 1058, dtype: object
1059 country        Argentina
year                2002
pop           38331121.0
life exp           74.34
gdp_cap      8797.640716
continent       Americas
Name: 1059, dtype: object
1060 country        Argentina
year                2007
pop           40301927.0
life exp           75.32
gdp_cap      12779.37964
continent       Americas
Name: 1060, dtype: object
1061 country        Australia
year                1952
pop            8691212.0
life exp           69.12
gdp_cap      10039.59564
continent        Oceania
Name: 1061, dtype: object
1062 country        Australia
year                1957
pop            9712569.0
life exp           70.33
gdp_cap      10949.64959
continent        Oceania
Name: 1062, dtype: object
1063 country        Australia
year                1962
pop           10794968.0
life exp           70.93
gdp_cap      12217.22686
continent        Oceania
Name: 1063, dtype: object
1064 country        Australia
year                1967
pop           11872264.0
life exp            71.1
gdp_cap      14526.12465
continent        Oceania
Name: 1064, dtype: object
1065 country        Australia
year                1972
pop           13177000.0
life exp           71.93
gdp_cap      16788.62948
continent        Oceania
Name: 1065, dtype: object
1066 country        Australia
year                1977
pop           14074100.0
life exp           73.49
gdp_cap      18334.19751
continent        Oceania
Name: 1066, dtype: object
1067 country        Australia
year                1982
pop           15184200.0
life exp           74.74
gdp_cap      19477.00928
continent        Oceania
Name: 1067, dtype: object
1068 country        Australia
year                1987
pop           16257249.0
life exp           76.32
gdp_cap      21888.88903
continent        Oceania
Name: 1068, dtype: object
1069 country        Australia
year                1992
pop           17481977.0
life exp           77.56
gdp_cap      23424.76683
continent        Oceania
Name: 1069, dtype: object
1070 country        Australia
year                1997
pop           18565243.0
life exp           78.83
gdp_cap      26997.93657
continent        Oceania
Name: 1070, dtype: object
1071 country        Australia
year                2002
pop           19546792.0
life exp           80.37
gdp_cap      30687.75473
continent        Oceania
Name: 1071, dtype: object
1072 country        Australia
year                2007
pop           20434176.0
life exp          81.235
gdp_cap      34435.36744
continent        Oceania
Name: 1072, dtype: object
1073 country          Austria
year                1952
pop            6927772.0
life exp            66.8
gdp_cap      6137.076492
continent         Europe
Name: 1073, dtype: object
1074 country         Austria
year               1957
pop           6965860.0
life exp          67.48
gdp_cap      8842.59803
continent        Europe
Name: 1074, dtype: object
1075 country          Austria
year                1962
pop            7129864.0
life exp           69.54
gdp_cap      10750.72111
continent         Europe
Name: 1075, dtype: object
1076 country         Austria
year               1967
pop           7376998.0
life exp          70.14
gdp_cap      12834.6024
continent        Europe
Name: 1076, dtype: object
1077 country         Austria
year               1972
pop           7544201.0
life exp          70.63
gdp_cap      16661.6256
continent        Europe
Name: 1077, dtype: object
1078 country         Austria
year               1977
pop           7568430.0
life exp          72.17
gdp_cap      19749.4223
continent        Europe
Name: 1078, dtype: object
1079 country          Austria
year                1982
pop            7574613.0
life exp           73.18
gdp_cap      21597.08362
continent         Europe
Name: 1079, dtype: object
1080 country          Austria
year                1987
pop            7578903.0
life exp           74.94
gdp_cap      23687.82607
continent         Europe
Name: 1080, dtype: object
1081 country          Austria
year                1992
pop            7914969.0
life exp           76.04
gdp_cap      27042.01868
continent         Europe
Name: 1081, dtype: object
1082 country          Austria
year                1997
pop            8069876.0
life exp           77.51
gdp_cap      29095.92066
continent         Europe
Name: 1082, dtype: object
1083 country          Austria
year                2002
pop            8148312.0
life exp           78.98
gdp_cap      32417.60769
continent         Europe
Name: 1083, dtype: object
1084 country         Austria
year               2007
pop           8199783.0
life exp         79.829
gdp_cap      36126.4927
continent        Europe
Name: 1084, dtype: object
1085 country          Bahrain
year                1952
pop             120447.0
life exp          50.939
gdp_cap      9867.084765
continent           Asia
Name: 1085, dtype: object
1086 country          Bahrain
year                1957
pop             138655.0
life exp          53.832
gdp_cap      11635.79945
continent           Asia
Name: 1086, dtype: object
1087 country          Bahrain
year                1962
pop             171863.0
life exp          56.923
gdp_cap      12753.27514
continent           Asia
Name: 1087, dtype: object
1088 country         Bahrain
year               1967
pop            202182.0
life exp         59.923
gdp_cap      14804.6727
continent          Asia
Name: 1088, dtype: object
1089 country          Bahrain
year                1972
pop             230800.0
life exp            63.3
gdp_cap      18268.65839
continent           Asia
Name: 1089, dtype: object
1090 country          Bahrain
year                1977
pop             297410.0
life exp          65.593
gdp_cap      19340.10196
continent           Asia
Name: 1090, dtype: object
1091 country          Bahrain
year                1982
pop             377967.0
life exp          69.052
gdp_cap      19211.14731
continent           Asia
Name: 1091, dtype: object
1092 country          Bahrain
year                1987
pop             454612.0
life exp           70.75
gdp_cap      18524.02406
continent           Asia
Name: 1092, dtype: object
1093 country          Bahrain
year                1992
pop             529491.0
life exp          72.601
gdp_cap      19035.57917
continent           Asia
Name: 1093, dtype: object
1094 country          Bahrain
year                1997
pop             598561.0
life exp          73.925
gdp_cap      20292.01679
continent           Asia
Name: 1094, dtype: object
1095 country          Bahrain
year                2002
pop             656397.0
life exp          74.795
gdp_cap      23403.55927
continent           Asia
Name: 1095, dtype: object
1096 country          Bahrain
year                2007
pop             708573.0
life exp          75.635
gdp_cap      29796.04834
continent           Asia
Name: 1096, dtype: object
1097 country      Bangladesh
year               1952
pop          46886859.0
life exp         37.484
gdp_cap      684.244172
continent          Asia
Name: 1097, dtype: object
1098 country      Bangladesh
year               1957
pop          51365468.0
life exp         39.348
gdp_cap      661.637458
continent          Asia
Name: 1098, dtype: object
1099 country      Bangladesh
year               1962
pop          56839289.0
life exp         41.216
gdp_cap      686.341554
continent          Asia
Name: 1099, dtype: object
1100 country      Bangladesh
year               1967
pop          62821884.0
life exp         43.453
gdp_cap      721.186086
continent          Asia
Name: 1100, dtype: object
1101 country      Bangladesh
year               1972
pop          70759295.0
life exp         45.252
gdp_cap      630.233627
continent          Asia
Name: 1101, dtype: object
1102 country      Bangladesh
year               1977
pop          80428306.0
life exp         46.923
gdp_cap      659.877232
continent          Asia
Name: 1102, dtype: object
1103 country      Bangladesh
year               1982
pop          93074406.0
life exp         50.009
gdp_cap      676.981866
continent          Asia
Name: 1103, dtype: object
1104 country       Bangladesh
year                1987
pop          103764241.0
life exp          52.819
gdp_cap       751.979403
continent           Asia
Name: 1104, dtype: object
1105 country       Bangladesh
year                1992
pop          113704579.0
life exp          56.018
gdp_cap       837.810164
continent           Asia
Name: 1105, dtype: object
1106 country       Bangladesh
year                1997
pop          123315288.0
life exp          59.412
gdp_cap       972.770035
continent           Asia
Name: 1106, dtype: object
1107 country       Bangladesh
year                2002
pop          135656790.0
life exp          62.013
gdp_cap       1136.39043
continent           Asia
Name: 1107, dtype: object
1108 country       Bangladesh
year                2007
pop          150448339.0
life exp          64.062
gdp_cap      1391.253792
continent           Asia
Name: 1108, dtype: object
1109 country          Belgium
year                1952
pop            8730405.0
life exp            68.0
gdp_cap      8343.105127
continent         Europe
Name: 1109, dtype: object
1110 country          Belgium
year                1957
pop            8989111.0
life exp           69.24
gdp_cap      9714.960623
continent         Europe
Name: 1110, dtype: object
1111 country          Belgium
year                1962
pop            9218400.0
life exp           70.25
gdp_cap      10991.20676
continent         Europe
Name: 1111, dtype: object

In [219]:
for index, row in df.iterrows():
  if df.loc[index, "life exp"] > 50:
    df.loc[index, "life_check"] = "> 50"
  else:
    df.loc[index, "life_check"] = "<= 50"

In [220]:
df

,country,year,pop,life exp,gdp_cap,continent,life_check
index,,,,,,,
1001,Afghanistan,1952,8425333.0,28.801,779.445314,Asia,<= 50
1002,Afghanistan,1957,9240934.0,NaN,820.853030,Asia,<= 50
1003,Afghanistan,1962,10267083.0,31.997,853.100710,Asia,<= 50
1004,Afghanistan,1967,11537966.0,34.020,836.197138,Asia,<= 50
1005,Afghanistan,1972,13079460.0,36.088,739.981106,Asia,<= 50
...,...,...,...,...,...,...,...
2700,Zimbabwe,1987,9216418.0,62.351,706.157306,Africa,> 50
2701,Zimbabwe,1992,10704340.0,60.377,693.420786,Africa,> 50
2702,Zimbabwe,1997,11404948.0,46.809,792.449960,Africa,<= 50
2703,Zimbabwe,2002,11926563.0,39.989,672.038623,Africa,<= 50
2704,Zimbabwe,2007,NaN,43.487,469.709298,Africa,<= 50

In [223]:
df = df.rename({"life exp": "life_exp"}, axis=1)
df

,country,year,pop,life_exp,gdp_cap,continent,life_check
index,,,,,,,
1001,Afghanistan,1952,8425333.0,28.801,779.445314,Asia,<= 50
1002,Afghanistan,1957,9240934.0,NaN,820.853030,Asia,<= 50
1003,Afghanistan,1962,10267083.0,31.997,853.100710,Asia,<= 50
1004,Afghanistan,1967,11537966.0,34.020,836.197138,Asia,<= 50
1005,Afghanistan,1972,13079460.0,36.088,739.981106,Asia,<= 50
...,...,...,...,...,...,...,...
2700,Zimbabwe,1987,9216418.0,62.351,706.157306,Africa,> 50
2701,Zimbabwe,1992,10704340.0,60.377,693.420786,Africa,> 50
2702,Zimbabwe,1997,11404948.0,46.809,792.449960,Africa,<= 50
2703,Zimbabwe,2002,11926563.0,39.989,672.038623,Africa,<= 50
2704,Zimbabwe,2007,NaN,43.487,469.709298,Africa,<= 50

In [222]:
print(df.columns)
for row in df.itertuples():
  print(row[3])

Index(['country', 'year', 'pop', 'life_exp', 'gdp_cap', 'continent',
       'life_check'],
      dtype='object')
8425333.0
9240934.0
10267083.0
11537966.0
13079460.0
14880372.0
nan
13867957.0
16317921.0
22227415.0
25268405.0
31889923.0
1282697.0
1476505.0
1728137.0
1984060.0
2263554.0
2509048.0
2780097.0
3075321.0
3326498.0
3428038.0
3508512.0
3600523.0
9279525.0
10270856.0
11000948.0
12760499.0
14760787.0
17152804.0
20033753.0
23254956.0
26298373.0
29072015.0
31287142.0
33333216.0
4232095.0
4561361.0
4826015.0
5247469.0
5894858.0
6162675.0
7016384.0
7874230.0
8735988.0
9875024.0
10866106.0
12420476.0
17876956.0
19610538.0
21283783.0
22934225.0
24779799.0
26983828.0
29341374.0
31620918.0
33958947.0
36203463.0
38331121.0
40301927.0
8691212.0
9712569.0
10794968.0
11872264.0
13177000.0
14074100.0
15184200.0
16257249.0
17481977.0
18565243.0
19546792.0
20434176.0
6927772.0
6965860.0
7129864.0
7376998.0
7544201.0
7568430.0
7574613.0
7578903.0
7914969.0
8069876.0
8148312.0
8199783.0
120447.0
138655.0
171863.0
202182.0
230800.0
297410.0
377967.0
454612.0
529491.0
598561.0
656397.0
708573.0
46886859.0
51365468.0
56839289.0
62821884.0
70759295.0
80428306.0
93074406.0
103764241.0
113704579.0
123315288.0
135656790.0
150448339.0
8730405.0
8989111.0
9218400.0
9556500.0
9709100.0
9821800.0
9856303.0
9870200.0
10045622.0
10199787.0
10311970.0
10392226.0
1738315.0
1925173.0
nan
2427334.0
2761407.0
3168267.0
3641603.0
4243788.0
4981671.0
6066080.0
7026113.0
8078314.0
2883315.0
3211738.0
3593918.0
4040665.0
4565872.0
5079716.0
5642224.0
6156369.0
6893451.0
7693188.0
8445134.0
9119152.0
2791000.0
3076000.0
3349000.0
3585000.0
3819000.0
4086000.0
4172693.0
4338977.0
4256013.0
3607000.0
4165416.0
4552198.0
442308.0
474639.0
512764.0
553541.0
619351.0
781472.0
970347.0
1151184.0
1342614.0
1536536.0
1630347.0
1639131.0
56602560.0
65551171.0
76039390.0
88049823.0
100840058.0
114313951.0
128962939.0
142938076.0
155975974.0
168546719.0
179914212.0
190010647.0
7274900.0
7651254.0
8012946.0
8310226.0
8576200.0
8797022.0
8892098.0
8971958.0
8658506.0
8066057.0
7661799.0
7322858.0
4469979.0
4713416.0
4919632.0
5127935.0
5433886.0
5889574.0
6634596.0
7586551.0
8878303.0
10352843.0
12251209.0
14326203.0
2445618.0
2667518.0
2961915.0
3330989.0
3529983.0
nan
4580410.0
5126023.0
5809236.0
6121610.0
7021078.0
8390505.0
4693836.0
5322536.0
6083619.0
6960067.0
7450606.0
6978607.0
7272485.0
8371791.0
10150094.0
11782962.0
12926707.0
14131858.0
5009067.0
5359923.0
5793633.0
6335506.0
7021028.0
7959865.0
9250831.0
10780667.0
12467171.0
14195809.0
nan
17696293.0
14785584.0
17010154.0
18985849.0
20819767.0
22284500.0
23796400.0
25201900.0
26549700.0
28523502.0
30305843.0
31902268.0
33390141.0
1291695.0
1392284.0
1523478.0
1733638.0
1927260.0
2167533.0
2476971.0
2840009.0
3265124.0
3696513.0
4048013.0
4369038.0
2682462.0
2894855.0
3150417.0
nan
3899068.0
4388260.0
4875118.0
5498955.0
6429417.0
7562011.0
8835739.0
10238807.0
6377619.0
7048426.0
7961258.0
8858908.0
9717524.0
10599793.0
11487112.0
12463354.0
13572994.0
14599929.0
15497046.0
16284741.0
556263527.0
637408000.0
665770000.0
754550000.0
862030000.0
943455000.0
1000281000.0
1084035000.0
nan
1230075000.0
1280400000.0
1318683096.0
12350771.0
14485993.0
17009885.0
19764027.0
22542890.0
25094412.0
27764644.0
30964245.0
34202721.0
37657830.0
41008227.0
44227550.0
153936.0
170928.0
191689.0
217378.0
250027.0
304739.0
348643.0
395114.0
454429.0
527982.0
614382.0
710960.0
14100005.0
15577932.0
17486434.0
19941073.0
23007669.0
26480870.0
30646495.0
35481645.0
41672143.0
47798986.0
55379852.0
64606759.0
854885.0
940458.0
1047924.0
1179760.0
1340458.0
1536769.0
1774735.0
2064095.0
2409073.0
2800947.0
3328795.0
3800610.0
926317.0
1112300.0
1345187.0
1588717.0
1834796.0
2108457.0
2424367.0
2799811.0
3173216.0
3518107.0
3834934.0
4133884.0
2977019.0
3300000.0
3832408.0
4744870.0
6071696.0
7459574.0
9025951.0
10761098.0
12772596.0
14625967.0
16252726.0
18013409.0
3882229.0
3991242.0
4076557.0
4174366.0
4225310.0
4318673.0
4413368.0
4484310.0
4494013.0
4444595.0
4481020.0
4493312.0
6007797.0
6640752.0
7254373.0
8139332.0
8831348.0
9537988.0
9789224.0
10239839.0
10723260.0
10983007.0
11226999.0
11416987.0
9125183.0
9513758.0
9620282.0
9835109.0
9862158.0
10161915.0
10303704.0
10311597.0
10315702.0
10300707.0
10256295.0
10228744.0
4334000.0
4487831.0
4646899.0
4838800.0
4991596.0
5088419.0
5117810.0
5127024.0
5171393.0
5283663.0
5374693.0
5468120.0
63149.0
71851.0
89898.0
127617.0
178848.0
228694.0
305991.0
311025.0
384156.0
417908.0
447416.0
496374.0
2491346.0
2923186.0
3453434.0
4049146.0
4671329.0
5302800.0
5968349.0
6655297.0
7351181.0
nan
8650322.0
9319622.0
3548753.0
4058385.0
4681707.0
5432424.0
6298651.0
7278866.0
8365850.0
9545158.0
10748394.0
11911819.0
12921234.0
13755680.0
22223309.0
25009741.0
28173309.0
31681188.0
34807417.0
38783863.0
45681811.0
52799062.0
59402198.0
66134291.0
73312559.0
80264543.0
2042865.0
2355805.0
2747687.0
3232927.0
3790903.0
4282586.0
4474873.0
4842194.0
5274649.0
5783439.0
6353681.0
6939688.0
216964.0
232922.0
249220.0
259864.0
277603.0
192675.0
285483.0
341244.0
387838.0
439971.0
495627.0
551201.0
1438760.0
1542611.0
1666618.0
1820319.0
2260187.0
2512642.0
2637297.0
2915959.0
3668440.0
4058319.0
4414865.0
4906585.0
20860941.0
22815614.0
25145372.0
27860297.0
30770372.0
34617799.0
38111756.0
42999530.0
52088559.0
59861301.0
67946797.0
76511887.0
4090500.0
4324000.0
4491443.0
4605744.0
4639657.0
4738902.0
4826933.0
4931729.0
5041039.0
5134406.0
5193039.0
5238460.0
nan
nan
47124000.0
49569000.0
51732000.0
53165019.0
54433565.0
55630100.0
57374179.0
58623428.0
59925035.0
61083916.0
420702.0
434904.0
455661.0
489004.0
537977.0
706367.0
753874.0
880397.0
985739.0
1126189.0
1299304.0
1454867.0
284320.0
323150.0
374020.0
439593.0
517101.0
608274.0
715523.0
848406.0
1025384.0
1235767.0
1457766.0
nan
69145952.0
71019069.0
73739117.0
76368453.0
78717088.0
78160773.0
78335266.0
77718298.0
80597764.0
nan
82350671.0
82400996.0
5581001.0
6391288.0
7355248.0
8490213.0
9354120.0
10538093.0
11400338.0
14168101.0
16278738.0
18418288.0
20550751.0
22873338.0
7733250.0
8096218.0
8448233.0
8716441.0
8888628.0
nan
9786480.0
9974490.0
10325429.0
10502372.0
10603863.0
10706290.0
3146381.0
3640876.0
4208858.0
4690773.0
5149581.0
5703430.0
6395630.0
7326406.0
8486949.0
nan
11178650.0
12572928.0
2664249.0
2876726.0
3140003.0
3451418.0
3811387.0
4227026.0
4710497.0
5650262.0
6990574.0
8048834.0
8807818.0
9947814.0
580653.0
nan
627820.0
601287.0
625361.0
745228.0
825987.0
927524.0
1050938.0
1193708.0
1332459.0
1472041.0
3201488.0
3507701.0
3880130.0
4318137.0
4698301.0
4908554.0
5198399.0
5756203.0
nan
6913545.0
7607651.0
8502814.0
1517453.0
1770390.0
2090162.0
2500689.0
2965146.0
3055235.0
3669448.0
4372203.0
5077347.0
5867957.0
6677328.0
7483763.0
nan
2736300.0
3305200.0
3722800.0
4115700.0
4583700.0
5264500.0
5584510.0
5829696.0
6495918.0
6762476.0
6980412.0
9504000.0
9839000.0
10063000.0
10223422.0
10394091.0
10637171.0
10705535.0
10612740.0
10348684.0
nan
10083313.0
9956108.0
147962.0
165110.0
182053.0
198676.0
209275.0
221823.0
233997.0
244676.0
259012.0
271192.0
288030.0
301931.0
372000000.0
409000000.0
454000000.0
506000000.0
567000000.0
634000000.0
708000000.0
788000000.0
872000000.0
959000000.0
1034172547.0
1110396331.0
82052000.0
90124000.0
99028000.0
109343000.0
121282000.0
136725000.0
153343000.0
169276000.0
184816000.0
199278000.0
211060000.0
223547000.0
17272000.0
19792000.0
22874000.0
26538000.0
30614000.0
35480679.0
43072751.0
51889696.0
60397973.0
63327987.0
66907826.0
69453570.0
5441766.0
6248643.0
7240260.0
8519282.0
10061506.0
11882916.0
14173318.0
16543189.0
17861905.0
20775703.0
24001816.0
27499638.0
2952156.0
2878220.0
2830000.0
2900100.0
3024400.0
3271900.0
3480000.0
3539900.0
3557761.0
3667233.0
3879155.0
4109086.0
1620914.0
1944401.0
2310904.0
2693585.0
3095893.0
3495918.0
3858421.0
4203148.0
4936550.0
5531387.0
6029529.0
6426679.0
47666000.0
49182000.0
50843200.0
52667100.0
54365564.0
56059245.0
56535636.0
56729703.0
56840847.0
57479469.0
57926999.0
58147733.0
1426095.0
1535090.0
1665128.0
1861096.0
1997616.0
2156814.0
2298309.0
2326606.0
2378618.0
2531311.0
2664659.0
2780132.0
86459025.0
91563009.0
95831757.0
100825279.0
107188273.0
nan
118454974.0
122091325.0
124329269.0
125956499.0
127065841.0
127467972.0
607914.0
746559.0
933559.0
1255058.0
1613551.0
1937652.0
2347031.0
2820042.0
3867409.0
4526235.0
5307470.0
6053193.0
6464046.0
7454779.0
8678557.0
10191512.0
12044785.0
14500404.0
17661452.0
21198082.0
25020539.0
28263827.0
31386842.0
35610177.0
8865488.0
9411381.0
10917494.0
12617009.0
14781241.0
16325320.0
17647518.0
19067554.0
20711375.0
21585105.0
22215365.0
23301725.0
20947571.0
22611552.0
26420307.0
30131000.0
33505000.0
36436000.0
39326000.0
41622000.0
43805450.0
46173816.0
47969150.0
49044790.0
160000.0
212846.0
358266.0
575003.0
841934.0
1140357.0
1497494.0
1891487.0
1418095.0
1765345.0
2111561.0
2505559.0
1439529.0
1647412.0
1886848.0
2186894.0
2680018.0
3115787.0
3086876.0
3089353.0
3219994.0
3430388.0
3677780.0
3921278.0
748747.0
813338.0
893143.0
996380.0
1116779.0
1251524.0
1411807.0
1599200.0
1803195.0
1982823.0
2046772.0
2012649.0
863308.0
975950.0
1112796.0
1279406.0
1482628.0
1703617.0
1956875.0
2269414.0
1912974.0
2200725.0
2814651.0
3193942.0
1019729.0
1201578.0
1441863.0
1759224.0
2183877.0
2721783.0
3344074.0
3799845.0
4364501.0
4759670.0
5368585.0
6036914.0
4762912.0
nan
5703324.0
6334556.0
7082430.0
8007166.0
9171477.0
10568642.0
12210395.0
14165114.0
16473477.0
19167654.0
2917802.0
3221238.0
3628608.0
4147252.0
4730997.0
5637246.0
6502825.0
7824747.0
10014249.0
10419991.0
11824495.0
13327079.0
6748378.0
7739235.0
8906385.0
10154878.0
11441462.0
12845381.0
14441916.0
16331785.0
18319502.0
20476091.0
22662365.0
24821286.0
3838168.0
4241884.0
4690372.0
5212416.0
5828158.0
6491649.0
6998256.0
7634008.0
8416215.0
9384984.0
10580176.0
12031795.0
1022556.0
1076852.0
1146757.0
1230542.0
1332786.0
1456688.0
1622136.0
1841240.0
2119465.0
2444741.0
2828858.0
3270065.0
516556.0
609816.0
701016.0
789309.0
851334.0
913025.0
992040.0
1042663.0
1096202.0
1149818.0
1200206.0
1250882.0
30144317.0
35015548.0
41121485.0
47995559.0
55984294.0
63759976.0
71640904.0
80122492.0
88111030.0
95895146.0
102479927.0
108700891.0
800663.0
882134.0
1010280.0
1149500.0
nan
1528000.0
1756032.0
2015133.0
2312802.0
2494803.0
2674234.0
2874127.0
413834.0
442829.0
474528.0
501035.0
527678.0
560073.0
562548.0
569473.0
621621.0
692651.0
720230.0
684736.0
9939217.0
11406350.0
13056604.0
14770296.0
16660670.0
18396941.0
20198730.0
22987397.0
25798239.0
28529501.0
31167783.0
33757175.0
6446316.0
7038035.0
7788944.0
8680909.0
9809596.0
11127868.0
12587223.0
12891952.0
13160731.0
16603334.0
18473780.0
19951656.0
20092996.0
21731844.0
23634436.0
25870271.0
28466390.0
31528087.0
34680442.0
38028578.0
40546538.0
43247867.0
45598081.0
47761980.0
485831.0
548080.0
621392.0
706640.0
821782.0
977026.0
1099010.0
1278184.0
1554253.0
1774766.0
1972153.0
2055080.0
9182536.0
9682338.0
10332057.0
11261690.0
12412593.0
13933198.0
15796314.0
17917180.0
20326209.0
23001113.0
25873917.0
28901790.0
10381988.0
11026383.0
11805689.0
12596822.0
13329874.0
13852989.0
14310401.0
14665278.0
15174244.0
15604464.0
16122830.0
16570613.0
1994794.0
2229407.0
2488550.0
2728150.0
2929100.0
3164900.0
3210650.0
3317166.0
3437674.0
3676187.0
3908037.0
4115771.0
1165790.0
1358828.0
1590597.0
1865490.0
2182908.0
2554598.0
2979423.0
3344353.0
4017939.0
4609572.0
5146848.0
5675356.0
3379468.0
3692184.0
4076008.0
4534062.0
5060262.0
5682086.0
6437188.0
7332638.0
8392818.0
9666252.0
11140655.0
12894865.0
33119096.0
37173340.0
41871351.0
47287752.0
53740085.0
62209173.0
73039376.0
81551520.0
93364244.0
106207839.0
119901274.0
135031164.0
3327728.0
3491938.0
3638919.0
3786019.0
3933004.0
4043205.0
4114787.0
4186147.0
4286357.0
4405672.0
4535591.0
4627926.0
507833.0
561977.0
628164.0
714775.0
829050.0
1004533.0
1301048.0
1593882.0
1915208.0
2283635.0
2713462.0
3204897.0
41346560.0
46679944.0
53100671.0
60641899.0
69325921.0
78152686.0
91462088.0
105186881.0
120065004.0
135564834.0
153403524.0
169270617.0
940080.0
1063506.0
1215725.0
1405486.0
1616384.0
1839782.0
2036305.0
2253639.0
2484997.0
2734531.0
2990875.0
3242173.0
1555876.0
1770902.0
2009813.0
2287985.0
2614104.0
2984494.0
3366439.0
3886512.0
4483945.0
5154123.0
5884491.0
6667147.0
8025700.0
9146100.0
10516500.0
nan
13954700.0
15990099.0
18125129.0
20195924.0
22430449.0
24748122.0
26769436.0
28674757.0
22438691.0
26072194.0
30325264.0
35356600.0
40850141.0
46850962.0
53456774.0
60017788.0
67185766.0
75012988.0
82995088.0
91077287.0
25730551.0
28235346.0
30329617.0
31785378.0
33039545.0
34621254.0
36227381.0
37740710.0
38370697.0
38654957.0
38625976.0
38518241.0
8526050.0
8817650.0
9019800.0
9103000.0
8970450.0
9662600.0
9859650.0
9915289.0
9927680.0
10156415.0
10433867.0
10642836.0
2227000.0
2260000.0
2448046.0
2648961.0
2847132.0
3080828.0
3279001.0
3444468.0
3585176.0
3759430.0
3859606.0
3942491.0
257700.0
308700.0
358900.0
414024.0
461633.0
492095.0
517810.0
562035.0
622191.0
684810.0
743981.0
798094.0
16630000.0
17829327.0
18680721.0
19284814.0
20662648.0
21658597.0
22356726.0
22686371.0
22797027.0
22562458.0
22404337.0
22276056.0
nan
2822082.0
3051242.0
3451079.0
3992121.0
4657072.0
5507565.0
6349365.0
7290203.0
7212583.0
7852401.0
8860588.0
60011.0
61325.0
65345.0
70787.0
76595.0
86796.0
98593.0
110812.0
125911.0
145608.0
170372.0
199579.0
4005677.0
4419650.0
4943029.0
5618198.0
6472756.0
8128505.0
11254672.0
14619745.0
16945857.0
21229759.0
24501530.0
27601038.0
2755589.0
3054547.0
3430243.0
3965841.0
4588696.0
5260855.0
6147783.0
7171347.0
8307920.0
9535314.0
10870037.0
12267493.0
6860147.0
7271135.0
7616060.0
7971222.0
8313288.0
8686367.0
9032824.0
9230783.0
9826397.0
10336594.0
10111559.0
10150265.0
2143249.0
2295678.0
2467895.0
2662190.0
2879013.0
3140897.0
3464522.0
3868905.0
4260884.0
4578212.0
5359092.0
6144562.0
1127000.0
1445929.0
1750200.0
1977600.0
2152400.0
2325300.0
2651869.0
2794552.0
3235865.0
3802309.0
4197776.0
4553009.0
3558137.0
3844277.0
4237384.0
4442238.0
4593433.0
4827803.0
5048043.0
5199318.0
5302888.0
5383010.0
5410052.0
5447502.0
1489518.0
1533070.0
1582962.0
1646912.0
1694510.0
1746919.0
1861252.0
1945870.0
1999210.0
2011612.0
2011497.0
2009245.0
2526994.0
2780415.0
3080153.0
3428839.0
3840161.0
4353666.0
5828892.0
6921858.0
6099799.0
6633514.0
7753310.0
9118773.0
14264935.0
16151549.0
18356657.0
20997321.0
23935810.0
27129932.0
31140029.0
35933379.0
39964159.0
42835005.0
44433622.0
43997828.0
28549870.0
29841614.0
31158061.0
32850275.0
34513161.0
36439000.0
37983310.0
38880702.0
39549438.0
39855442.0
40152517.0
40448191.0
7982342.0
9128546.0
10421936.0
11737396.0
13016733.0
14116836.0
15410151.0
16495304.0
17587060.0
18698655.0
19576783.0
20378239.0
8504667.0
9753392.0
11183227.0
12716129.0
14597019.0
17104986.0
20367053.0
24725960.0
28227588.0
32160729.0
37090298.0
42292929.0
290243.0
326741.0
370006.0
420690.0
480105.0
551425.0
649901.0
779348.0
962344.0
1054486.0
1130269.0
1133066.0
7124673.0
7363802.0
7561588.0
7867931.0
nan
8251648.0
8325260.0
8421403.0
8718867.0
8897619.0
8954175.0
9031088.0
4815000.0
5126000.0
5666000.0
6063000.0
6401400.0
6316424.0
6468126.0
6649942.0
6995447.0
7193761.0
7361757.0
7554661.0
3661549.0
4149908.0
4834621.0
5680812.0
6701172.0
7932503.0
nan
11242847.0
13219062.0
15081016.0
17155814.0
19314747.0
8550362.0
10164215.0
11918938.0
13648692.0
15226039.0
16785196.0
18501390.0
19757799.0
20686918.0
21628605.0
22454239.0
23174294.0
8322925.0
9452826.0
10863958.0
nan
14706593.0
17129565.0
19844382.0
23040630.0
26605473.0
30686889.0
34593779.0
38139640.0
21289402.0
25041917.0
29263397.0
34024249.0
39276153.0
44148285.0
48827160.0
52910342.0
56667095.0
60216677.0
62806748.0
65068149.0
nan
1357445.0
1528098.0
1735550.0
2056351.0
2308582.0
2644765.0
3154264.0
3747553.0
4320890.0
4977378.0
5701579.0
662850.0
764900.0
887498.0
960155.0
975199.0
1039009.0
1116479.0
1191336.0
1183669.0
1138101.0
nan
1056608.0
3647735.0
3950849.0
4286552.0
4786986.0
5303507.0
6005061.0
6734098.0
7724976.0
8523077.0
9231669.0
9770575.0
10276158.0
22235677.0
25670939.0
29788695.0
33411317.0
37492953.0
42404033.0
nan
52881328.0
58179144.0
63047647.0
67308928.0
71158647.0
5824797.0
6675501.0
7688797.0
8900294.0
10190285.0
11457758.0
12939400.0
15283050.0
18252190.0
21210254.0
24739869.0
29170398.0
nan
51430000.0
53292000.0
54959000.0
56079000.0
56179000.0
56339704.0
56981620.0
57866349.0
58808266.0
59912431.0
60776238.0
157553000.0
171984000.0
186538000.0
198712000.0
nan
220239000.0
232187835.0
242803533.0
256894189.0
272911760.0
287675526.0
301139947.0
2252965.0
2424959.0
2598466.0
2748579.0
2829526.0
2873520.0
2953997.0
3045153.0
3149262.0
nan
3363085.0
3447496.0
5439568.0
6702668.0
8143375.0
9709552.0
11515649.0
13503563.0
15620766.0
17910182.0
20265563.0
22374398.0
24287670.0
26084662.0
26246839.0
28998543.0
33796140.0
39463910.0
nan
50533506.0
56142181.0
62826491.0
69940728.0
76048996.0
80908147.0
85262356.0
1030585.0
1070439.0
1133134.0
1142636.0
1089572.0
1261091.0
1425876.0
1691210.0
2104779.0
nan
3389578.0
4018332.0
4963829.0
5498090.0
6120081.0
6740785.0
7407075.0
8403990.0
9657618.0
11219340.0
13367997.0
15826497.0
18701257.0
22211743.0
2672000.0
nan
3421000.0
3900000.0
4506497.0
5216550.0
6100407.0
7272406.0
8381163.0
9417789.0
10595811.0
11746035.0
3080907.0
3646340.0
4277736.0
4995432.0
5861135.0
6642107.0
7636524.0
9216418.0
10704340.0
11404948.0
11926563.0
nan

In [ ]:
import datetime

### Calc time taken

In [ ]:
start_time = datetime.now()

In [230]:
df.loc[df["life_exp"] > 50, "life_check2"] = "> 50"
df["life_check2"].fillna("<= 50", inplace=True)
df.head()

,country,year,pop,life_exp,gdp_cap,continent,life_check,life_check2
index,,,,,,,,
1001,Afghanistan,1952,8425333.0,28.801,779.445314,Asia,<= 50,<= 50
1002,Afghanistan,1957,9240934.0,NaN,820.853030,Asia,<= 50,<= 50
1003,Afghanistan,1962,10267083.0,31.997,853.100710,Asia,<= 50,<= 50
1004,Afghanistan,1967,11537966.0,34.020,836.197138,Asia,<= 50,<= 50
1005,Afghanistan,1972,13079460.0,36.088,739.981106,Asia,<= 50,<= 50